name: CI

on:
  push:
    paths:
    - 'dockerfiles/**'
    - 'scripts/deploy.py'
    - 'scripts/create-layer.sh'
    - 'tests/*'
    - '.github/workflows/ci.yml'
    branches:
    - master
    tags:
    - '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        gdal-version: [3.5]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install boto3 click

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Build
        uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64
          context: .
          load: true
          file: dockerfiles/Dockerfile.gdal${{ matrix.gdal-version }}
          tags: ghcr.io/${{ github.actor }}/lambda-gdal:${{ matrix.gdal-version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Test
        run: |
          docker run \
            -v ${{ github.workspace }}:/local --rm \
            ghcr.io/${{ github.actor }}/lambda-gdal:${{ matrix.gdal-version }} \
            sh -c "cd /local/tests && sh tests.sh"

      - name: Publish docker image
        uses: docker/build-push-action@v3
        if: github.ref == 'refs/heads/master'
        with:
          platforms: linux/amd64
          context: .
          file: dockerfiles/Dockerfile.gdal${{ matrix.gdal-version }}
          push: true
          tags: ghcr.io/${{ github.actor }}/lambda-gdal:${{ matrix.gdal-version }}

      - name: Build and Deploy layers
        if: github.ref == 'refs/heads/master'
        run: |
          docker run \
            -v ${{ github.workspace }}:/local --rm \
            ghcr.io/${{ github.actor }}/lambda-gdal:${{ matrix.gdal-version }} \
            sh -c "sh /local/scripts/create-layer.sh"
          python scripts/deploy.py ${{ matrix.gdal-version }} --deploy

      - name: Build Runtime and Push
        if: github.ref == 'refs/heads/master'
        run: |
          runtimes='3.8 3.9'
          for runtime in ${runtimes}; do
            docker build \
              --platform=linux/amd64 \
              --build-arg GDAL_VERSION=${{ matrix.gdal-version }} \
              --build-arg RUNTIME_VERSION=${runtime} \
              -f dockerfiles/runtimes/python \
              -t ghcr.io/${{ github.actor }}/lambda-gdal:${{ matrix.gdal-version }}-python${runtime} .
            docker push ghcr.io/${{ github.actor }}/lambda-gdal:${{ matrix.gdal-version }}-python${runtime}
          done
